<div class="gallery__container _container">
  <div class="gallery__body">
    <div class="gallery__title _main-title">Галерея <span class="_main-title_orange">Блюд</span></div>
    <div class="gallery__images image-gallery">
      <div class="image-gallery__item item1"></div>
      <div class="image-gallery__item item2"></div>
      <div class="image-gallery__item item3"></div>
      <div class="image-gallery__item item4"></div>
      <div class="image-gallery__item item5"></div>
      <div class="image-gallery__item item6"></div>
    </div>
  </div>
</div>