.gallery{

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
    &__title {
        text-align: center;
    }
    &__images {
        display: grid;
        grid-template-columns:  auto auto auto auto ;
        grid-template-rows: auto auto ;
        grid-template-areas: 
        "item1 item1 item2 item3"
        "item4 item5 item6 item6";
        gap: 30px;

        @media (max-width:840px) {
        display: flex;
        flex-direction: column;
         ;
          }
    }
}
.image-gallery__item{
    background-size: cover;
    background-position: center;
    height: 274px;
}

.item1 {
    grid-area: item1;
    background-image: url("./img/gallery1.png");
}
.item2 {
    grid-area: item2;
    background-image: url("./img/gallery2.png");
}
.item3 {
    grid-area: item3;
    background-image: url("./img/gallery3.png");
}
.item4 {
    grid-area: item4;
    background-image: url("./img/gallery2.png");
}
.item5 {
    grid-area: item5;
    background-image: url("./img/gallery3.png");
}
.item6 {
    grid-area: item6;
    background-image: url("./img/gallery1.png");
}
