<div class="header__container _container">
  <a href="#" class="header__logo">
    <img src="./img/Logo.png" alt="logo">
  </a>
  <nav class="header__menu menu">
    <ul class="menu__list">
      <li class="menu__item">
        <a href="" class="menu__link">Главная</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Меню</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Онас</a>
      </li>
      <li class="menu__item">
        <a href="" class="menu__link">Бронь</a>
      </li>
      <li class="menu__item">
        <i class="fa fa-thin fa-cart-shopping"></i>
      </li>
    </ul>
    <div class="menu__phone">
      <div class="menu__phnum">
        <i class=" fa fa-solid fa-phone"></i>
        +999-888-76-54
      </div>
      <div class="menu__phtext">
        Свяжитесь с нами для бронирования
      </div>
    </div>
    <button class="bt1">Заказ столика</button>
  </nav>
</div>