.header {
      
    &__container {
      display: flex;
      min-height: 133.98px;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      width: 100px;
      height: 67.96px;
    }
    &__menu {
      display: flex;
      column-gap: 49px;
      align-items: center;
    }
  }
  
.menu{
  color: #FFFFFF;
  
    &__list {
      display: flex;
      column-gap: 23px;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: center;
    }
    &__link{
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
    }
    &__phone {
      max-width: 162px;
    }
    &__phnum {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
    }
    &__phtext {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
    }
  
}
.bt1 {
  width: 157px;
  height: 47px;
  background: #FF7400;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  border: none;  
    
}