<div class="second_part">
    <div class="second_part_left"></div>
    <div class="second_part_right">
        <div class="part_left_top_title">Tasty pancakes</div>
        <div class="part_left_top_text">season favorite</div>
        <div class="second_part_text">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.</div>
        <div class="rating">
            <div class="rating__items">
                <input id="rating__5"type="radio" class="rating__item" name="rating" value="5">
                <label for="rating__5" class="rating__label"></label>
                <input id="rating__4"type="radio" class="rating__item" name="rating" value="4">
                <label for="rating__4" class="rating__label"></label>
                <input id="rating__3"type="radio" class="rating__item" name="rating" value="3">
                <label for="rating__3" class="rating__label"></label>
                <input id="rating__2"type="radio" class="rating__item" name="rating" value="2">
                <label for="rating__2" class="rating__label"></label>
                <input id="rating__1"type="radio" class="rating__item" name="rating" value="1">
                <label for="rating__1" class="rating__label"></label>
            </div>
        </div>
        <div>
            @@include("./slick/_slick.html")
        </div>
            @@include("./second_part_right_element/_second_part_right_element.html",
            {"sec.part.el_first":"ready in","sec.part.el_second":"40",
            "sec.part.el_third":"mins"})
    </div>
</div>