.top_text_meet{
    display: flex;
    justify-content: space-around;

    font-size: 22px;
}
.first_text_meet{
    color: grey;
}
.second_text_meet{
    color: orange;
}
.picture_meet{
    padding: 5px 0;
}