<form class="form" name="menu_input" action="#" method="get">
    <label class="label">
      Name
    </label>
      <input class="input" type="text" name="first_input">
    <label class="label">
      Email
    </label>  
      <input class="input" type="email" name="second_input">
    <label class="label ">
      Message
    </label> 
      <textarea class="input message" name="third_input" cols="40" rows="5"></textarea>
    </form>
<div class="wrapper_button">
    <button class="button">Submit</button>
</div>