.logo{
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.discription{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
.first_line{
    color: orange;
}
.second_line{
    color: grey;
    text-transform: uppercase;
}
