<div class="footer">
  <nav>
    <ul class="nav_navigation" style="border-top: 1px solid black; border-bottom: 1px solid black;">
      <li class="nav_navigation_item">
        <a href="#">our menu</a>
      </li>
      <li class="nav_navigation_item">
        <a href="#">gallery</a>
      </li> 
      <li class="nav_navigation_item">
        <a href="#">culture</a>
      </li >
    </ul>
  </nav>
  <a href="#" class="logo" style="color:black;">
    Gustoso
  </a>
  <nav>
    <ul class="nav_navigation" style="border-top: 1px solid black; border-bottom: 1px solid black;">
      <li class="nav_navigation_item">
        <a href="#">events</a>
      </li>
      <li class="nav_navigation_item">
        <a href="#">catering</a>
      </li> 
      <li class="nav_navigation_item">
        <a href="#">visit us</a>
      </li >
    </ul>
  </nav>
</div>  