.main-block{
    position: relative;
  
    &__body{
      padding: 322px 0 299px 0;
      position: relative;
      z-index: 2;
      color: #FFFFFF;
      max-width: 556px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    &__title {
      text-align: center;
    }
    &__top {
      font-family: 'Tinos';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 57px;
      color: #D67E35;
    }
    &__bottom {
      font-family: 'Tinos';
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 92px;
      color: #D67E35;
    }
    &__text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      justify-content: center;
      
    }
    &__text::before,
    &__text::after{
      content: "";
      width: 61px;
      height: inherit;
      border-bottom: 2px solid white;
      display: flex;
      align-self: center;
    }
    &__bt2 {
      width: 137px;
      height: 47px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      background-color: #D67E35;
      border: none;
      align-self: center;
      margin:21px 58px 0 0 ;
    }
    &__image{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &__image img{
      object-position: right;
    }
}