<div class="header_wrapper">
    <a href="#" class="logo">
      Gustoso
    </a>
    
    <nav class="nav">
      <input type="checkbox" id="status" class="nav_input" name="nav_input">
      <label for="status" class="nav_opener">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
      </label>
      <ul class="nav_navigation">
        <li class="nav_item">
          <a href="#">welcome</a>
        </li>
        <li class="nav_item">
          <a href="#">menu</a>
        </li> 
        <li class="nav_item">
          <a href="#">reservations</a>
        </li >
        <li class="nav_item">
          <a href="#">news</a>
        </li>
        <li class="nav_item">
          <a href="#">contact</a>
        </li>
      </ul>
    </nav>  
    <div class="icons">
        <a href="">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
  </div>