<div class="nav">
    <a href="#" class="nav_logo">
      Gustoso
    </a>
    <nav>
      <ul class="nav_navigation">
        <li class="nav_item">
          <a href="#">welcome</a>
        </li>
                <li class="nav_item">
          <a href="#">menu</a>
        </li> 
        <li class="nav_item">
          <a href="#">reservations</a>
        </li >
                <li class="nav_item">
          <a href="#">news</a>
        </li>
                <li class="nav_item">
          <a href="#">contact</a>
        </li>
              </ul>
    </nav>  
    <div class="nav_icons">
        <a href="">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
  </div>