.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    
    &_logo{   
      font-family:"custom";
      color: #ffffff;
      font-size: 30px;
      letter-spacing: 9px;
      line-height: 24px;
    }
    &_navigation{
      display: flex;
      column-gap: 39px;
      text-transform: uppercase;
      list-style: none;  
    }
    &_item a{
      font-size: 14px;
      letter-spacing: 4px;
      line-height: 24px;
      color: #ffffff;;
      font-family: 'alegreya', serif;
    }
    &_item:after{
      margin-left: 30px;
      content: "~";
      color: #ffffff;;
    }
    &_item:last-child:after{
      margin: 0;
      content: "";
    }
    &_icons{
      display: flex;
      column-gap: 27px;
    }
    &_icons a{
      color: white;
      font-size: 20px;
    }
}