<div class="cooks__container _container">
  <div class="cooks__body">
    <div class="cooks__title _main-title">Наши<span class="_main-title_orange">Повара</span></div>
    <div class="cooks__images">
      <div class="cooks__image ">
         <img src="./img/cook1.png" alt="cook">
      </div>
      <div class="cooks__image ">
        <img src="./img/cook2.png" alt="cook">
      </div>
      <div class="cooks__image ">
        <img src="./img/cook3.png" alt="cook">
      </div>
    </div>
  </div>
</div>