.cooks{
    
    &__body{
        display: flex;
        flex-direction: column;
        row-gap: 107px;
        padding: 0 0 100px 0;

    }
    &__title{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__images{
        display: flex;
        column-gap: 30px;

        @media (max-width:840px) {
            flex-direction: column;
            row-gap: 30px;
        }
    }
    &__image{
        flex: 1 1 33.3%;
        width: 348px;
        height: 462px;
        
        @media (max-width:840px) {
            width: 100%;
            text-align: center;
        }
        
    }
    &__image img{
        width: 100%;
    }
}
