.main_first_part{
    display: flex;  
    width: 100%;
    padding: 73px 0;
    @media (max-width:750px){
        flex-direction: column;
      }
}

.part_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 50%;
    @media (max-width:750px){
        width: auto;
      } 
   
    &_top_title{
        font-size: 48px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #56534c;
        font-weight: 700;
        font-family: "alegreya";
        text-align: center;
    }
    &_top_text{
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #56534c;
        font-family: "alegreya";
        text-align: center;
    }
    &_text{
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #56534c;
        font-family: "proxima_nova";
        text-align: center;
        width: 90%;
    }
    &_under_text{
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #56534c;
        font-weight: 700;
        font-family: "alegreya";
        text-align: center;
    }
    &_visit_card{
        display: flex;
        align-items: center;
        column-gap: 40px;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #56534c;
        font-weight: 400;
        font-family: "alegreya";
        text-align: center;
        &_two{
            order: 1;
        }
    }
    &_visit_card::after{
        content: "";
        width: 110px;
        height: 110px;
        border-radius: 55px;
        filter: drop-shadow(0px 7px 4.5px rgba(0,0,0,0.93));
        background-color: #ffffff;
        background-image: url("..img/img 12.png");
        background-position: 28% 4%;  
    }
    &_bottom_title{
        width: 230px;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #a47d5e;
        font-weight: 400;
        font-family: "custom";
        text-align: center;
        position: relative;
    }
    &_bottom_title::before{
        position: absolute;
        left: -29%;
        content: "";
        background-image:url("../img/quotes_1.png") ;
        width: 43px;
        height: 24px;
    }
    &_bottom_title::after{
        position: absolute;
        bottom: 0;
        right:-29%;
        content: "";
        background-image: url("../img/quotes_2.png") ;
        width: 43px;
        height: 24px;
    }           
}
.part_right{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    gap: 19px;
    position: relative;
    @media (max-width:750px){
        width: auto;
        height: 100vh;
        margin-top: 20px;
      } 

    &_item{
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    &_item::after{
        content: "";
        border: 5px solid white;
        height: 90%;
        width: 90%;
    }     
}
.element{
    background-image: url("../img/Vektor-Smartobjekt 3.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    width: 46%;
    height: 62%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c9b176;
    font-weight: 400;
    font-family: "alegreya";
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__text{
        width:70%;
        text-align: center;
    }
}