<div class="stock__container _container">
    <div class="stock__body">
      <div class="stock__title title-stock">
        <div class="title-stock__top">
          Отпразднуйте в одном из 
          самых лучших ресторанов.
        </div>
        <div class="title-stock__bottom">
          Только в этом месяце бизнес-ланч от 250 ₽
        </div>
      </div>
      <button class="stock__bt menu__bt1">заказ столика</button>
    </div>
    <div class="stock__image _imagebg">
      <img src="./img/bg.jpg" alt="bg">
    </div>
  </div>