<div class="text_areas">
    <input id="turn_input" type="checkbox" class="text_area_input">
    <p class="text_area">Lorem ipsum dolor sit amet, conspsum dolor sit apsum dolor sit amet, consectetur adipisicing elit. Quis, voluptates.met, consectetur adipisicing elit. Quis, voluptates.ectetur adipisicing elit. Quis, voluptates. Dolorem autem ipsam alias sint repellendus maiores? Necessitatibus numquam architecto, possimus corporis saepe earum incidunt distinctio placeat sapiente, animi explicabo!Lorem</p>
    <label for="turn_input" class="turn">Read more...</label>
</div>
<div class="text_areas">
    <input id="turn_input_first" type="checkbox" class="text_area_input_first">
    <p class="text_area_first">Lorem ipsum dolor sit amet, conspsum dolor sit apsum dolor sit amet, consectetur adipisicing elit. Quis, voluptates.met, consectetur adipisicing elit. Quis, voluptates.ectetur adipisicing elit. Quis, voluptates. Dolorem autem ipsam alias sint repellendus maiores? Necessitatibus numquam architecto, possimus corporis saepe earum incidunt distinctio placeat sapiente, animi explicabo!Lorem</p>
    <label for="turn_input_first" class="turn">Read more...</label>
</div>
<div class="text_areas">
    <input id="turn_input_second" type="checkbox" class="text_area_input_second">
    <p class="text_area_second">Lorem ipsum dolor sit amet, conspsum dolor sit apsum dolor sit amet, consectetur adipisicing elit. Quis, voluptates.met, consectetur adipisicing elit. Quis, voluptates.ectetur adipisicing elit. Quis, voluptates. Dolorem autem ipsam alias sint repellendus maiores? Necessitatibus numquam architecto, possimus corporis saepe earum incidunt distinctio placeat sapiente, animi explicabo!Lorem</p>
    <label for="turn_input_second" class="turn">Read more...</label>
</div>
<div class="text_areas">
    <input id="turn_input_third" type="checkbox" class="text_area_input_third">
    <p class="text_area_third">Lorem ipsum dolor sit amet, conspsum dolor sit apsum dolor sit amet, consectetur adipisicing elit. Quis, voluptates.met, consectetur adipisicing elit. Quis, voluptates.ectetur adipisicing elit. Quis, voluptates. Dolorem autem ipsam alias sint repellendus maiores? Necessitatibus numquam architecto, possimus corporis saepe earum incidunt distinctio placeat sapiente, animi explicabo!Lorem</p>
    <label for="turn_input_third" class="turn">Read more...</label>
</div>