
.text_area{
padding-left: 10px;
padding-right: 10px;
font-size: 15px;
max-height: 100px;
overflow: hidden;
}
.turn{
  display: inline-block;
  text-align:right;
  width: 100%;
}
 .text_area_input:checked ~ .text_area{
  max-height: 100vh;
 } 
 .text_area_input{
  display: none;
 }