.slider_item{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
  } 

.first_title{
    margin: 0;
    background-color: grey;
    font-size: 55px;
    text-transform: uppercase;
    color: orange;
}
.second_title{
    margin: 0;
    background-color: orange;
    font-size: 55px;
    text-transform: uppercase;
    color: grey;   
}

