@import "./partials/hero/hero.scss";
@import "./partials/nav/nav.scss";
@import"./partials/first_part/first_part.scss";
@import"./partials/second_part/second_part.scss";
@import"./partials/third_part/third_part.scss";
@import"./partials/second_part/slick/my_slick.scss";
@import"./partials/footer/footer.scss";

@font-face {
  font-family:"custom";
  src: url("../fonts/SCRIPTIN.ttf");
  font-weight: 400;
}
@font-face {
  font-family:"alegreya";
  src: url("../fonts/Alegreya-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family:"proxima_nova";
  src: url("../fonts/proximanova_regular.ttf");
  font-weight: 400;
}
body * {
  outline: 1px solid lightgrey;
  
}
body{
  margin: 0;
}
.container{
  max-width: 1260px;
  margin: 0 auto;
}
.con_h{
  height: 100%;
}

a {
text-decoration: none;
}
.header{
  height: 100vh;
  background-image: url("..img/img 13.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.second_main{
  background-image: url("../img/placeholder 2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}