body * {
  outline: 1px solid lightgrey;
}

.header{
  display: flex;
}
.rabbit_logo{
  margin-left: 10%;  
}
.rabbit_tittle{
  font-size: 37px;
}
.first_tittle{
line-height: 26px;
color: #fb9c06;
font-family: "Calibri";
text-align: center;
margin-top: 20px;
}
.second_tittle{
line-height: 26px;
color: #6e6d6b;
font-family: "Calibri";
text-align: center;
font-weight: 1000;
margin-top: 17px;
}
.navigation{
display: flex;
margin-left: 25%;
margin-right: 10%;
width: 100%;
justify-content: space-between;
align-items: flex-end;
}
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.silder{
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("./img/silder/big-orange-bg.png");
  border-top: 4px solid #fb9c06;
  border-bottom: 4px solid #fb9c06;
}
.top_silder_tittle{
position:absolute ;
top: 21.67%;
left: 13.75%;
width: 23.8%;
background-color: #000000;
opacity: 0.6;
font-size:26px;
font-weight: bold;
color: #fb9c06;
text-align: center;
padding: 1% 0;
}
.bottom_silder_tittle{
position:absolute ;
top: 37.5%;
left: 13.13%;
width: 24.75%;
background-color: #ffaf12;
opacity: 0.6;
font-size:26px;
font-weight: bold;
text-align: center;
padding: 1% 0;
}