.bg-work_icon {
    width: 43px; height: 43px;
    background: url('css_sprites.png') -84px -10px;
}
.bg-blog_icon {
    width: 40px; height: 40px;
    background: url('css_sprites.png') -147px -10px;
}
.bg-contact_icon {
    width: 50px; height: 34px;
    background: url('css_sprites.png') -10px -77px;
}
.bg-home_icon {
    width: 54px; height: 47px;
    background: url('css_sprites.png') -10px -10px;
}
.bg-about_icon {
    width: 23px; height: 44px;
    background: url('css_sprites.png') -10px -131px;
}