<div class="slider-reviews__card card-reviews">
    <div class="card-reviews__text">Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!</div>
    <div class="card-reviews__photo">
        <img src="./img/visitor.png" alt="photo">
    </div>
    <div class="card-reviews__visitor">Посетитель</div>
    <div class="card-reviews__name">Николай</div>
</div>